.content {
  padding: 10px;
}

.img-divider {
  width: 25px;
}

.label-divider {
  margin-left: 10px;
  color: #6366F1;
}
.habilidadesButton {
  // padding: 0px;
}
.card-content {
  height: 170px;
  overflow: hidden;
}

.img-agent {
  cursor: pointer;
  padding: 10px;
  width: 150px;
}

.previewImage {
  max-width: 100%;
}

.card-teste {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
